/* Variables */
:root {
  --color-1: #001858;
  --background-color-1: #fef6e4;
  --background-color-2: #f582ae;
  --background-color-3: #8bd3dd;
}

@font-face {
  font-family: 'Roboto';
  src: url(../stopwatch/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(../stopwatch/fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf);
}

/* Basic Sections */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-1);
  background-color: var(--background-color-1);
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 1rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  text-align: center;
  background-color: var(--background-color-3);
}

main {
  min-height: calc(100vh - 60px);
  text-align: center;
  display: flex;
  /* Center a flex-div horizontally */
  justify-content: center;
  padding-top: 10em;
}

.time {
  margin-top: 60px;
  font-family: 'Roboto Mono', monospace;
  font-size: 8rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

button {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--color-1);
  background-color: var(--background-color-2);
  border: none;
  border-radius: 3px;
  width: 120px;
  height: 40px;
}

button:hover {
  color: var(--background-color-1);
  background: var(--background-color-3);
}

footer {
  background-color: var(--background-color-3);
  text-align: center;
  padding: 1rem;
  height: 60px;
}

.logo {
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: text-bottom;
}
